
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  --black-color: #000000;
  --blue-color: #2196f3;
  --white-color: #ffffff;
  --grey-color: #757575;
  --black-text-color: #212121;
  --background-color: #2f303a;
  --footer-bg-color: #2f303a;
  
  
  --border: #eeeeee;

  
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  width: 1600px;
}


.center{
  margin-left: auto;
  margin-right: auto;}


/*header*/

.header {
  border-bottom: 1px solid #ececec;
  background-color: var(--white-color);
}

.header-flex {
  display: flex;
}

.header__logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  color: var(--blue-color);
  text-decoration: none;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header__logo-span {
  color: var(--black-color);
}

.header__nav {
  padding-left: 93px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__nav-list {
  display: flex;
  gap: 46px;
}

.header__nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--black-text-color);
  text-decoration: none;
  letter-spacing: 0.02em;
  position: relative;
  
}


.header__contact-list {
  display: flex;
  padding-left: 345px;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 30px;
}

.header__contact-link{color: var(--grey-color);
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;}

.header__nav-link:hover,
.header__nav-link:focus,
.header__contact-link:hover,
.header__contact-link:focus,
.footer__email:hover,
.footer__email:focus,
.footer__phone:hover,
.footer__phone:focus {
  color: var(--blue-color);
  fill: var(--blue-color);
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 46px;
  background: var(--blue-color);
  height: 4px;
  border-radius: 2px;
}

/*footer*/

.footer {
  padding-left: 30px;
  padding-bottom: 60px;
  background: var(--footer-bg-color);
}

.footercontent {
  display: flex;
}

.footer__logo {
  padding-top: 60px;
  padding-bottom: 20px;
  padding-left: 15px;
}

.footer__logo-link {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.2;
  color: var(--blue-color);
  text-decoration: none;
  letter-spacing: 0.03em;
}

.footer__logo-span {
  color: var(--white-color);
}

.footer__address {
  padding-bottom: 9px;
  padding-left: 15px;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer__email {
  padding-bottom: 9px;
  padding-left: 15px;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__phone {
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 15px;
}

.footer__socialmedia {
  padding-top: 72px;
  padding-left: 70px;
}

.footer__socialmedia-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 0;
}

.footer__socialmedia-list {
  display: flex;
  width: 206px;
  padding-top: 16px;
  justify-content: space-between;
  margin: auto;
}

.footer__socialmedia-item {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer__socialmedia-item:hover,
.footer__socialmedia-item:focus {
  background: var(--blue-color);
  cursor: pointer;
}

.footer__socialmedia-link:hover,
.footer__socialmedia-link:focus {
  background: var(--blue-color);
  border-radius: 50%;
}
.footer__socialmedia-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__socialmedia-icon{
  padding: 12px;
  fill: #fff;}

.footer__socialmedia-item:hover,
.footer__socialmedia-item:focus,
.footer__socialmedia-link:hover,
.footer__socialmedia-link:focus {
  transition: background 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__newsletter {
  padding-top: 72px;
  padding-left: 78px;
}

.footer__newsletter-form {
  display: flex;
}

.footer__newsletter-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text);
  margin: 0;
  display: block;
  padding-bottom: 20px;
}

.footer__newsletter-input {
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 0;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footer-bg-color);
  color: rgba(255, 255, 255, 0.6);
}

.footer__newsletter-button {
  cursor: pointer;
  width: 200px;
  height: 50px;
  display: flex;
  background: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: var(--blue-color);
  border-radius: 4px;
  fill: #afb1b8;
  color: var(--white-color);
  align-items: center;
  text-align: center;
  padding-left: 42px;
  margin-left: 12px;
  margin-top: 36px;
}

.footer__newsletter-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  margin: 0;
}

.footer__newsletter-icon {
  margin-left: 24px;
}



/*agencja,portfolio,kontakt - header*/

.about-links a {
    text-decoration: none;
    color: var(--black-color);
    font-size: 16px;
    font-weight: 500;
}

.about-links .about {
  display: flex;
  list-style: none;
  gap: 46px;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--main-normal-text-color);
}
.about-links .about:hover,
.about-links .about:focus {
  color: var(--main-link-color);
  transition: background 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*kontakt links - mail and tel*/

.social-links a {
  text-decoration: none;
  color: var(--main-text-color);
  font-weight: 500;
}

.primary-link {
  font-family: "Roboto";
  color: var(--main-normal-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
}
.primary-link:hover {
  color: var(--main-link-color);
  transition: background 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*Text on main page and button under */

.solutions {
  display: flex;
  background-color: var(--background-color);
  flex-direction: column;
  justify-content: center;
  padding: 200px 0;
  background: rgba(47, 48, 58, 0.4);
  background-image: url(/goit-markup-hw-04/images/banerphoto.jpg);
}

.solutions__main {
  color: var(--white-color);
  letter-spacing: 0.06em;
  font-size: 44px;
  line-height: calc(60 / 44);
  width: 696px;
  text-align: center;
  align-self: center;
  padding-bottom: 15px;
  margin: auto;
}


.solutions__button {
  text-align: center;
  display: block;
  line-height: 1.9;
  letter-spacing: 0.06em;
  padding: 10px 42px;
  color: white;
  border-radius: 4px;
  background-color: var(--blue-color);
  align-self: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 700;
  margin: auto;
}

.solutions__button:hover,
.solutions__button:focus {
  color: var(--white-color);
  cursor: pointer;
  transition: background 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Lorem ipsum text */
.description__svg {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.description__section {
    padding-top: 94px;
}

.description {
    display: flex;
    gap: 30px;
    align-items: center;
    margin: auto;
    padding-top: 30px;
}

.descripion__title {
font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 10px; 
}

.description__text {
    font-size: 14px;
    line-height: 1.71;
    padding-top:10px;
}
/*what we do - on main page*/

.work__section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.work__header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    padding-bottom: 50px;
  letter-spacing: 0.03em;
  color: var(--black-text-color);
}

.work__list {
  display: flex;
  justify-content: space-around;
}

.work__item {
  margin: 0;
  position: relative;
  width: 370px;
  height: 294px;
  display: flex;
}

.work__desc {
  position: absolute;
  display: flex;
  width: 370px;
  height: 70px;
  top: 224px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background: rgba(47, 48, 58, 0.8);
}

/*team on main page*/

.team__section {
    background-color: #f5f4fa;
    padding-top: 94px;
    padding-bottom: 94px;
}

.team__header {
  padding-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-text-color);
}

.team__list{
  display: flex;
  gap: 30px;
  justify-content: center;
}

.team__img {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}


.team__name {
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--black-text-color);
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;}

.team__desc {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  padding-bottom: 16px;
  color: var(--grey-color);
}

.team__socialmedia {
  list-style: none;
  display: flex;
  width: 206px;
  padding-top: 16px;
  justify-content: space-between;
  margin: auto;
  padding-bottom: 30px;
}

.team__socialmedia-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team__socialmedia-icon {
  padding: 12px;
  fill: #afb1b8;
}

.team__socialmedia-links:hover,
.team__socialmedia-links:focus {
  background: var(--blue-color);
  border-radius: 50%;
}

.team__socialmedia-icon:hover {
  fill: var(--white-color);
}

.team__socialmedia-links:hover,
.team__socialmedia-links:focus,
.team__socialmedia-icon:hover{
  transition: background 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


/*customers*/

.customers {
  padding: 94px 0px 94px 0px;
  background-color: var(--white-color);
}

.customers__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
  margin: 0;
  color: var(--black-text-color);
}

.customers__list {
  display: flex;
}

.customers__item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  width: 170px;
  height: 92px;
  margin: 0 15px;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
}

.customers__item:hover,
.customers__item:focus {
  fill: var(--blue-color);
  border-color: var(--blue-color);
  cursor: pointer;
  transition: background 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__item-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  fill: #afb1b8;}

.customers__item-link:hover{fill: var(--blue-color);}

/*buttons on top - portfolio page*/

.portfolio__button-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 94px 0;
  padding-bottom: 50px;
}

.portfolio__button-list > li > button {
  font-weight: 500;
  padding: 6px 22px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  color: var(--main-font-color);
  line-height: calc(26 / 16);
  letter-spacing: 00.03em;
}

.portfolio__button-list > li > button:hover {
  cursor: pointer;
  background-color: var(--blue-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__button-list > li > button:focus {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.portfolio__button-list > li > button:hover,
.portfolio__button-list > li > button:focus{
 transition: color 250ms, background 250ms, box-shadow 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*portfolio list - images*/

.portfolio__image-description{
display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 20px 24px;
  border-bottom: 1px solid var(--border);
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  overflow: hidden;
  position: relative;
  background-color: var(--white-color);
}

.portfolio__product-center {
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    margin: 0 auto;
    margin-bottom:94px;
    
}
.portfolio__product {
  background-color: var(--white-color);
  margin: 0;
  position: relative;
  overflow: hidden;
}

.portfolio__product:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    transition: box-shadow 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__product-image {vertical-align: top;}

.portfolio__product-name {
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  font-size: 18px;
}
.portfolio__product-description {
    font-size: 16px;
    color: var(--grey-color);
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  padding-top: 49px;
  padding-left: 24px;
}

.portfolio__product:hover .portfolio__overlay {
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(0);
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__overlay-text {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

/* modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%);
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__exit {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background 250ms, color 250ms, box-shadow 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__exit:hover,
.modal__exit:focus {
  background: var(--blue-color);
  fill: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__header {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 2px;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__form {
  position: relative;
  display: flex;
}

.modal__label {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--grey-color);
}


.modal__item input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0;
  padding-left: 40px;
}

.modal__textarea {
  resize: none;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  transition: outline 250ms, border 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__icon {
  position: absolute;
  left: 55px;
  top: 42px;
}

.modal__form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.modal__item {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  transition: fill 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input {
  transition: outline 250ms, border 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus,
.modal__textarea:focus {
  outline: var(--blue-color);
  border: 1px solid var(--blue-color);
}

.modal__item:focus-within {
  fill: var(--blue-color);
}

.modal__checkbox-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.modal__checkbox-div {
  width: 16px;
  height: 15px;
  position: relative;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-top: 5px;
  margin-right: 8px;
  transition: border-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox {
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 16px;
  appearance: none;
}

.modal__checkbox-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal__link {
  color: #2196F3;
  text-decoration: underline;
  cursor: pointer;
}

.modal__checkbox-svg {
  z-index: 102;
  border-radius: 2px;
  width: 17px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #fff;
  position: absolute;
  opacity: 0;
  transition: opacity 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox:checked + .modal__checkbox-svg {
  opacity: 1;
}
.modal__checkbox-div:hover {
  border-color: var(--blue-color);
}

.modal__button {
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: var(--blue-color);
  border: var(--blue-color);
  margin-left: 164px;
  text-align: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  color: var(--white-color);
  letter-spacing: 0.06em;
  cursor: pointer;
}
