  $black-color: #000000;
  $blue-color: #2196f3;
  $white-color: #ffffff;
  $grey-color: #757575;
  $black-text-color: #212121;
  $background-color: #2f303a;
  $footer-bg-color: #2f303a;
  $svgGreyFill: #afb1b8;
  $svgBackground: rgba(255, 255, 255, 0.1);
  $border: #eeeeee;
  $headerBorder: #ececec;
  $footerContact: rgba(255, 255, 255, 0.6);
  $footerInputBorder: rgba(255, 255, 255, 0.3);
  $shadow-color: rgba(0, 0, 0, 0.15);
  $solutionsBackground: rgba(47, 48, 58, 0.4);
  $Lightgrey-color: #f5f4fa;
  $workBackground: rgba(47, 48, 58, 0.8);
  $portfolioOverlayBg: rgba(33, 150, 243, 0.9);
  $modalBg: rgba(0, 0, 0, 0.2);
  $modalBordercolor: rgba(33, 33, 33, 0.2);
  $modalTextareaPh: rgba(117, 117, 117, 0.5);
  $footerInputColor: rgba(255, 255, 255, 0.6);